@model Dispatch.DispatchOutEntity
@{
    ViewBag.Title = "Cập nhập thông tin công văn đi";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">

    <div class="x_panel">
        <div class="x_title">
            <h2>@ViewBag.Title</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <button type="button" id="btnsubmit" class="btn btn-primary" onclick="$('#frmdispatchOut').submit();"><i class="fa fa-floppy-o"></i> Lưu </button>

                </li>
                <li>
                    <button type="button" class="btn btn-primary" onClick="window.location.reload()"><i class="fa fa-undo"></i> Hủy bỏ </button>
                </li>

                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>



        <div class="x_content nav-tabs-custom">
           

            @using (Html.BeginForm("Save", "DispatchOut", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", id = "frmdispatchOut" }))
            {
                @Html.AntiForgeryToken()
                <p class="red">Vui lòng nhập dữ liệu cho những trường bắt buộc *</p>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-info">
                        <div class="raw clearfix">
                            <div class="col-md-7">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">

                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                
                                                <label class="col-md-3 control-label">Số công văn <i class="fa fa-asterisk red" style="font-size:10px"></i> </label>
                                                <div class="col-md-9">
                                                    @Html.TextBoxFor(m => m.DispatchNo, new { @id="disNo", @class = "form-control", @maxlength = "150", @onkeyup = "UpperCase('disNo',this)" })
                                                    @Html.ValidationMessageFor(model => model.DispatchNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Công văn <i class="fa fa-asterisk red" style="font-size:10px"></i> </label>
                                                <div class="col-md-9">
                                                    @Html.TextBoxFor(m => m.DispatchName, new { @class = "form-control", @maxlength = "150" })
                                                    @Html.ValidationMessageFor(model => model.DispatchName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                
                                                <label class="col-md-3 control-label">Loại công văn <i class="fa fa-asterisk red" style="font-size:10px"></i> </label>
                                                <div class="col-md-9">
                                                    <select id="DispatchType" name="DispatchType" class="form-control">
                                                        <option value="0">---Chọn loại công văn---</option>
                                                        @foreach (var item in (List<Dispatch.DispatchTypeEntity>)ViewData["dispatchtypeAll"])
                                                        {
                                                            if (item.Id == Model.DispatchType)
                                                            {
                                                                <option value="@item.Id" selected="selected">@item.Name</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                    @Html.ValidationMessageFor(model => model.DispatchType, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                
                                                <label class="col-md-3 control-label">Độ ưu tiên <i class="fa fa-asterisk red" style="font-size:10px"></i> </label>
                                                <div class="col-md-9">
                                                    <select id="Priority" name="Priority" class="form-control">
                                                        <option value="0">---Chọn độ ưu tiên---</option>
                                                        @foreach (var item in (List<Dispatch.DispatchPriorityEntity>)ViewData["dispatchpriorityAll"])
                                                        {
                                                            if (item.Id == Model.Priority)
                                                            {
                                                                <option value="@item.Id" selected="selected">@item.Name</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                    @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                
                                                <label class="col-md-3 control-label">Ngày soạn <i class="fa fa-asterisk red" style="font-size:10px"></i> </label>
                                                <div class="col-md-9">
                                                    @if (Model.Id > 0)
                                                    {
                                                        @Html.TextBoxFor(m => m.DateWrite, new { @class = "form-control", @type = "date", @Value = Model.DateWrite.ToString("yyyy-MM-dd") })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m.DateWrite, new { @class = "form-control", @type = "date" })
                                                    }
                                                    @Html.ValidationMessageFor(model => model.DateWrite, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                
                                                <label class="col-md-3 control-label">File công văn <i class="fa fa-asterisk red" style="font-size:10px"></i> </label>
                                                <div class="col-md-9">
                                                    @if (Model.Id > 0 && Model.FileId > 0)
                                                    {
                                                        <label id="filename">@ViewBag.FileName</label>
                                                        <input type="text" style="display:none" value="@ViewBag.FileId" id="FileId" name="FileId" />
                                                        @Html.TextBoxFor(m => m.File, new { @id = "UploadFile", @type = "file", @class = "form-control", @style = "display:none", @accept = "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text / plain" })
                                                        <div id="upload">
                                                            <a href="javascript:void(0)" id="FileRemove">Remove</a>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(m => m.File, new { @type = "file", @class = "form-control" , @accept = "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text / plain" })
                                                    }
                                                  
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-5">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">

                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                
                                                <label class="col-md-3 control-label">Tình trạng <i class="fa fa-asterisk red" style="font-size:10px"></i> </label>
                                                <div class="col-md-9">
                                                    <select id="DispatchStatus" name="DispatchStatus" class="form-control">
                                                        <option value="0">---Chọn tình trạng---</option>
                                                        @foreach (var item in (List<Dispatch.DispatchStatusEntity>)ViewData["dispatchstatusAll"])
                                                        {
                                                            if (item.Id == Model.DispatchStatus)
                                                            {
                                                                <option value="@item.Id" selected="selected">@item.Name</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                    @Html.ValidationMessageFor(model => model.DispatchStatus, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                
                                                <label class="col-md-3 control-label">Người soạn <i class="fa fa-asterisk red" style="font-size:10px"></i> </label>
                                                <div class="col-md-9">
                                                    <select id="WriterId" name="WriterId" class="form-control">
                                                        <option value="0">---Chọn người soạn---</option>
                                                        @foreach (var item in (List<Dispatch.EmployeeEntity>)ViewData["employeeAll"])
                                                        {
                                                            if (item.Id == Model.WriterId)
                                                            {
                                                                <option value="@item.Id" selected="selected">@item.FirstName @item.LastName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Id">@item.FirstName @item.LastName</option>
                                                            }
                                                        }
                                                    </select>
                                                    @Html.ValidationMessageFor(model => model.WriterId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                
                                                <label class="col-md-3 control-label">Phòng ban<i class="fa fa-asterisk red" style="font-size:10px"></i> </label>
                                                <div class="col-md-9">
                                                    <select id="DepartmentId" name="DepartmentId" class="form-control">
                                                        <option value="0">---Chọn phòng ban---</option>
                                                        @foreach (var item in (List<Dispatch.DepartmentEntity>)ViewData["departmentAll"])
                                                        {
                                                            if (item.Id == Model.DepartmentId)
                                                            {
                                                                <option value="@item.Id" selected="selected">@item.Name</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        }
                                                    </select>
                                                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                
                                                <label class="col-md-3 control-label">Trưởng phòng duyệt <i class="fa fa-asterisk red" style="font-size:10px"></i> </label>
                                                <div class="col-md-9">
                                                    <select id="ApproverId" name="ApproverId" class="form-control">
                                                        <option value="0">---Chọn TP duyêt---</option>
                                                        @foreach (var item in (List<Dispatch.EmployeeEntity>)ViewData["employeeTP"])
                                                        {
                                                            if (item.Id == Model.ApproverId)
                                                            {
                                                                <option value="@item.Id" selected="selected">@item.FirstName @item.LastName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Id">@item.FirstName @item.LastName</option>
                                                            }
                                                        }
                                                    </select>
                                                    @Html.ValidationMessageFor(model => model.ApproverId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                
                                                <label class="col-md-3 control-label">Chánh VP <i class="fa fa-asterisk red" style="font-size:10px"></i> </label>
                                                <div class="col-md-9">
                                                    <select id="ChiefOfStaffId" name="ChiefOfStaffId" class="form-control">
                                                        <option value="0">---Chọn Chánh Văn Phòng---</option>
                                                        @foreach (var item in (List<Dispatch.EmployeeEntity>)ViewData["employeeChief"])
                                                        {
                                                            if (item.Id == Model.ChiefOfStaffId)
                                                            {
                                                                <option value="@item.Id" selected="selected">@item.FirstName @item.LastName</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Id">@item.FirstName @item.LastName</option>
                                                            }
                                                        }
                                                    </select>
                                                    @Html.ValidationMessageFor(model => model.ChiefOfStaffId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Note, new { @class = "col-md-3 control-label" })
                                                <div class="col-md-9">
                                                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @maxlength = "150", @style = "height:150px" })
                                                    @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">

                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        
                                        <label class="panel-heading">Nội dung<i class="fa fa-asterisk red" style="font-size:10px"></i> </label>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                @*<textarea class="form-control" style="height:250px" id="TxtDescription">Căn cứ công văn đến ...</textarea>*@
                                                @Html.TextAreaFor(m => m.Description, new { @id = "TxtDescription", @class = "form-control", @style = "height:250px" })
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-9">
                                                    <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" />

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="tab-seo">
                        <div class="raw clearfix">

                        </div>

                    </div>
                </div>
            }

        </div>

        <div class="x_title">
           
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <button type="button" id="btnsubmit" class="btn btn-primary" onclick="$('#frmdispatchOut').submit();"><i class="fa fa-floppy-o"></i> Lưu </button>

                </li>
                <li>
                    <button type="button" class="btn btn-primary"><i class="fa fa-undo"></i> Hủy bỏ </button>
                </li>

                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        $('#FileRemove').on('click', function (e) {
            $('#UploadFile').show(200);
            $('#filename').hide(200);
            $("#upload").hide(200);
        });
    </script>

    <script src="~/Assets/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace("TxtDescription", {
            height: 200,
            allowedContent: true,
            removePlugins: 'showblocks',
            filebrowserBrowseUrl: '/Assets/plugins/ckfinder/ckfinder.html',
            filebrowserImageBrowseUrl: '/Assets/plugins/ckfinder/ckfinder.html?type=Images',
            filebrowserFlashBrowseUrl: '/Assets/plugins/ckfinder/ckfinder.html?type=Flash',
            filebrowserUploadUrl: '/Assets/plugins/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Files',
            filebrowserImageUploadUrl: '/Assets/plugins/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Images',
            filebrowserFlashUploadUrl: '/Assets/plugins/ckfinder/core/connector/aspx/connector.aspx?command=QuickUpload&type=Flash',
            filebrowserWindowWidth: '1000',
            filebrowserWindowHeight: '200',

        });
        editor.on('instanceReady', function (ev) {
            var editor = ev.editor,
                dataProcessor = editor.dataProcessor,
                htmlFilter = dataProcessor && dataProcessor.htmlFilter;
            htmlFilter.addRules({
                elements: {
                    img: function (element) {

                        var src = element.attributes.src;
                        var imgsrc = src;
                        var tmpSrc = src.split('/Uploads');
                        var domain = "";
                        if (tmpSrc[0] != domain) {
                            $.ajax({
                                type: "POST",
                                url: "/Backend/Handler/DownloadImageFromUrl",
                                data: { imageUrl: src },
                                async: false,
                                beforeSend: function () {
                                    commonBase.startLoading();
                                },
                                success: function (r) {
                                    commonBase.stopLoading();
                                    imgsrc = r.fileName;
                                },
                                error: function () {
                                    commonBase.stopLoading();
                                }
                            });
                            imgsrc = imgsrc.replace(/\\/g, '/');
                            element.attributes.src = imgsrc;
                            element.attributes['data-cke-saved-src'] = domain + imgsrc;
                            element.attributes.rel = domain + imgsrc;
                        }
                    }
                }
            });
        });
    </script>

}
