@model Dispatch.Project_StatusEntity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="x_panel">
        <div class="x_title">
            <h2>@ViewBag.Title</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <input type="button" value="Save" class="btn btn-default" onclick="$('#frmProjectStatus').submit();" />
                </li>
                <li>
                    @Html.ActionLink("Back to list", "Index", null, new { @id = "createNew", @class = "btn btn-default" })
                </li>

                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div>
                @using (Html.BeginForm("CreateOrEdit", "ProjectStatus", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form", id = "frmProjectStatus" }))
            {
                    @*@Html.AntiForgeryToken()*@
                    <h4>@ViewBag.SubTitle</h4>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Tên trạng thái <i class="fa fa-asterisk red" style="font-size:10px"></i> </label>

                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Kích hoạt", new { @class = "col-md-2 control-label" })
                        <div class="col-md-10" style="padding-top:6px">
                            @Html.CheckBoxFor(m => m.IsActive, new { @class = "flat" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



