@using MvcPaging
@model IPagedList<Dispatch.CustomerEntity>
<table class="table table-hover table-bordered">
    <thead>
        <tr>     
            <th>Tên khách hàng</th>
            <th>Địa chỉ</th>
            <th>Thời gian tạo</th>
            <th>Thời gian chỉnh sửa</th>
            <th>Kích hoạt</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Createdate)
                </td>
                <td>
                    @if (item.ModifiedDate != DateTime.MinValue)
                    {
                        @Html.DisplayFor(modelItem => item.ModifiedDate, new { @id = "modifieDate" })
                    }
                    else
                    {
                        <i> Chưa cập nhật thông tin</i>
                    }
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate,new { @id = "modifieDate" })
                </td>*@
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsActive, new { @class = "flat roles", module = item.Id, action = "Active" })
                </td>
                <td>
                    <a class="btn btn-info btn-xs" module="@item.Id" href="@Url.Action("CreateOrEdit",new { id = item.Id })">
                        <i class="fa fa-pencil"></i>Sửa thông tin
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-xs" onclick="return confirm('Bạn có muốn xóa?')">
                        <i class="fa fa-trash-o"></i> Xóa thông tin
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

